.card-body {
    align-self: center;
}

#grid-container {
    padding: 0;
}

.card {
    transition: 0.3s;
}

.card:hover {
    border: 1px solid cornflowerblue;
    background-color: lightgray;
}

#group-count, #group-count-label {
    display: inline-block
}

.fa-virus {
    color: #FF0800;
}